body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(12, 12, 12);
  background-image: url(imagens/pepsi01.png) ;
  margin: 25px 32px 25px 32px;
}

 h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: 2.5rem;
  color: rgb(161, 159, 159);
  border: solid 2px black;
  margin: 25px 32px 25px 32px;
  /* top right bottom left */
 }
 h2 {
   font-family: 'DM Sans', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Poppins', sans-serif; ;
 }

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(139, 134, 51);
  font-size: 23.5px;
}

h3 {
   font-family: 'DM Sans', sans-serif; 
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  font-display: italic;
  font-style: oblique;
  font-size: 32px;
  color: azure;
} 

p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: rgb(139, 140, 156);
  margin: 22.5px 32px 25px 22.5px;
  border: solid 2px black;
}

.color-text2 {
  background-color: darkcyan;
}

.color-text {
  background-color: lightpink;
}

p2 {
  font-family: serif;
  font-size: 21.3px;
  color: whitesmoke;
}

div {
  background-image: url(imagens/fundo\ de\ papel\ velho\ v1.jpg);
}

/*nav {
  background-color: aquamarine;
} */

nav {
  background-image: url(imagens/azul\ fundo.png);
  
}

